*.o
*.bmpobj
*.binobj
*.so
*.dll
*.a
*.elf
*.dol
*.map
config.log
/retroarch
/retroarch.cfg
/retroarchlite.exe
/config.h
/config.mk
/tools/retroarch-joyconfig
/tools/retroarch-joyconfig.exe
*.ncb
*.sdf
*.opensdf
*.suo
Debug
Release
ipch
*.user
/wii/app_booter/app_booter.bin
*.zip
RetroArch-w32/
RetroArch-w64/
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
apple/tmp
apple/*.mobileprovision
apple/RetroArch_iOS.xcodeproj/project.xcworkspace/*
/Cg/
/GL/
/SDL/
/ffmpeg/
/freetype2/
/ft2build.h
/iconv.h
/libxml2/
/phoenix/
/python/
/rsound.h
.pc
/media/shaders_glsl/
/obj-w32/

# Android
/android/phoenix/obj/
/android/phoenix/assets/shaders_glsl/*
/android/phoenix/assets/cores/*
/android/phoenix/assets/info/*.info
/android/phoenix/libs/appcompat/gen
/android/phoenix/libs/appcompat/local.properties
/android/phoenix/libs/googleplay/gen
/android/phoenix/libs/googleplay/local.properties
/android/phoenix/libs/appcompat/bin
/android/phoenix/libs/googleplay/bin
/android/phoenix/bin/
/android/phoenix/gen/
/android/phoenix/local.properties
/android/phoenix64/obj/
/android/phoenix64/assets/shaders_glsl/*
/android/phoenix64/assets/cores/*
/android/phoenix64/assets/info/*.info
/android/phoenix64/libs/appcompat/gen
/android/phoenix64/libs/appcompat/local.properties
/android/phoenix64/libs/googleplay/gen
/android/phoenix64/libs/googleplay/local.properties
/android/phoenix64/libs/appcompat/bin
/android/phoenix64/libs/googleplay/bin
/android/phoenix64/bin/
/android/phoenix64/gen/
/android/phoenix64/local.properties

# Cloned by libretro-fetch.sh
/media/assets/
/media/autoconfig/
/media/overlays/
/media/shaders_cg/
/media/libretrodb/

apple/iOS/build/
apple/iOS/modules/

obj-unix/
.vagrant/
/android/phoenix/libs/appcompat/bin/
/android/phoenix/libs/googleplay/bin/