# size = 0.35
overlays = 3

overlay1_overlay = lightgun.png

overlay2_overlay = lightgun2.png

overlay0_full_screen = true
overlay0_normalized = true
overlay0_descs = 11
overlay0_desc0_overlay = dpad.png
overlay0_desc0 = "dpad_area,0.07,0.57,rect,0.077573,0.137908"
overlay0_desc0_reach_right = 1.7
overlay0_desc0_reach_left = 1.7
overlay0_desc0_reach_up = 1.25
overlay0_desc0_reach_down = 1.5
overlay0_desc1_overlay = abxy.png
overlay0_desc1 = "abxy_area,0.93,0.556209,rect,0.077573,0.137908"
overlay0_desc1_reach_right = 1.7
overlay0_desc1_reach_left = 1.7
overlay0_desc1_reach_up = 1.05
overlay0_desc1_reach_down = 1.5
overlay0_desc2_overlay = select.png
overlay0_desc2 = "select,0.226374,0.801252,rect,0.0245,0.0243911"
overlay0_desc2_reach_up = 3.5
overlay0_desc2_reach_down = 3.5
overlay0_desc3_overlay = start.png
overlay0_desc3 = "start,0.773626,0.801252,rect,0.0245,0.0243911"
overlay0_desc3_reach_up = 3.5
overlay0_desc3_reach_down = 3.5
overlay0_desc4_overlay = l.png
overlay0_desc4 = "l,0.02625,0.368682,rect,0.02625,0.0289333"
overlay0_desc4_reach_right = 2.33333
overlay0_desc4_reach_left = 2.33333
overlay0_desc4_reach_up = 8
overlay0_desc5_overlay = r.png
overlay0_desc5 = "r,0.11375,0.368682,rect,0.02625,0.0289333"
overlay0_desc5_reach_right = 2.33333
overlay0_desc5_reach_left = 2.33333
overlay0_desc5_reach_up = 8
overlay0_desc6_overlay = l.png
overlay0_desc6 = "l,0.88625,0.382473,rect,0.02625,0.0289333"
overlay0_desc6_reach_right = 2.33333
overlay0_desc6_reach_left = 2.33333
overlay0_desc6_reach_up = 8
overlay0_desc7_overlay = r.png
overlay0_desc7 = "r,0.97375,0.382473,rect,0.02625,0.0289333"
overlay0_desc7_reach_right = 2.33333
overlay0_desc7_reach_left = 2.33333
overlay0_desc7_reach_up = 8
overlay0_desc8_overlay = next.png
overlay0_desc8 = "overlay_next,0.9755,0.801252,rect,0.0245,0.0243911"
overlay0_desc8_reach_up = 1.5
overlay0_desc8_reach_down = 3.0
overlay0_desc9 = "menu_toggle,0.5,0.5,rect,0.08,0.125"
overlay0_desc10_overlay = turbo.png
overlay0_desc10 = "hold_fast_forward,0.0245,0.801252,rect,0.0245,0.0243911"
overlay0_desc10_reach_up = 1.5
overlay0_desc10_reach_down = 3.5

overlay1_full_screen = true
overlay1_descs = 5
overlay1_lightgun = true
overlay1_desc0 = "lightgun_start,0,359,rect,72,70"
overlay1_desc1 = "lightgun_pause,0,359,rect,72,70"
overlay1_desc2 = "lightgun_cursor,0,0,rect,72,80"
overlay1_desc3 = "lightgun_turbo,639,0,rect,72,70"
overlay1_desc4 = "overlay_next,639,359,rect,72,75"

overlay2_full_screen = true
overlay2_descs = 6
overlay2_lightgun = true
overlay2_desc0 = "lightgun_start,0,359,rect,72,70"
overlay2_desc1 = "lightgun_pause,0,359,rect,72,70"
overlay2_desc2 = "lightgun_cursor,0,0,rect,72,80"
overlay2_desc3 = "lightgun_turbo,639,0,rect,72,70"
overlay2_desc4 = "overlay_next,639,359,rect,72,75"
overlay2_desc5 = "lightgun_trigger,0,179,rect,72,52"
